@page { margin: 0 }
body { margin: 0 }
.sheet {
  margin: 0;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  page-break-after: always;
}

/** Paper sizes **/
body.A3           .sheet { width: 297mm; height: 419mm }
body.A3.landscape .sheet { width: 420mm; height: 296mm }
body.A4           .sheet { width: 210mm; height: 296mm }
body.A4.landscape .sheet { width: 297mm; height: 209mm }
body.A5           .sheet { width: 148mm; height: 209mm }
body.A5.landscape .sheet { width: 210mm; height: 147mm }

/** Padding area **/
.sheet.padding-10mm { padding: 10mm }
.sheet.padding-15mm { padding: 15mm }
.sheet.padding-20mm { padding: 20mm }
.sheet.padding-25mm { padding: 25mm }

/** For screen preview **/
@media screen {
  body { background: #e0e0e0 }
  .sheet {
    background: white;
    box-shadow: 0 .5mm 2mm rgba(0,0,0,.3);
    margin: 15mm;
  }
}

/** Fix for Chrome issue #273306 **/
@media print {
           body.A3.landscape { width: 420mm }
  body.A3, body.A4.landscape { width: 297mm }
  body.A4, body.A5.landscape { width: 210mm }
  body.A5                    { width: 148mm }
}
/*
@font-face{
  font-family: 'numbercardfont';
  src: url('./public/fonts/07LogoTypeGothic7.ttf') format(’truetype');
}
.font{
  font-family: 'numbercardfont';
}
.wf-mplus1p {
   font-family: "Mplus 1p";
}
.wf-roundedmplus1c {
  font-family: "Rounded Mplus 1c";
}
*/

.tategaki {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

/*
 * 縦書き
 */
/*
.certificatename {
  font-family: "YuMincho";
  letter-spacing: 18px;
  font-size: 32pt;
  position:absolute;
  bottom:7.5cm;
  right:8cm;
}

.certificatename2 {
  font-family: "YuMincho";
  letter-spacing: 18px;
  font-size: 32pt;
  position:absolute;
  bottom:7.5cm;
  right:10.2cm;
}

.certificatetime {
  font-family: "YuMincho";
  font-size: 14pt;
  line-height: 1.5em;
  position:absolute;
  top:11cm;
  right:12.4cm;
}
*/

/*
 * 縦書き
 */
.certificatename {
  font-family: "YuMincho";
  letter-spacing: 18px;
  font-size: 34pt;
  position:absolute;
  top:10.8cm;
  right:6cm;
}


.certificatetime {
  font-family: "YuMincho";
  font-size: 14pt;
  position:absolute;
  top:12.5cm;
  left:5cm;
}

h2 {
  font-size: 28pt;
  float: center;
  valign: top;
}

h3 {
/*  font-family: 'numbercardfont'; */
  font-size: 7.5cm;
  float: center;
}

h4 {
  font-size: 16pt;
  float: right;
}

h5 {
  font-size: 28pt;
  float: center;
  valign: bottm;
}
