body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.page-header{
  margin-top:0;
}

table:not(.pure):not(.no-shadow) {
 width: auto;
 border-spacing: 0;
 border-left: 1px solid  #bbb;
 border-top: 1px solid  #bbb;
 box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
 border-radius: 5px;
}
table:not(.pure):not(.no-stripe) tr {
 background: #fff;
}
table:not(.pure):not(.no-stripe) tr:nth-child(2n+1) {
 background: #f1f6fc;
}

table:not(.pure):not(.no-border) tr td {
 padding: 1px 1px;
 border-spacing: 0px;
 border-right: 1px solid  #bbb;
 border-bottom: 1px solid  #bbb;
 vertical-align: middle;
 -moz-text-valgin: middle;
 -webkit-text-valgin: middle;
}

table:not(.pure):not(.no-header) tr th {
 color: #fff;
 padding: 1px 1px;
 background: #258;
 font-weight: bold;
 border-right: 1px solid  #bbb;
 border-bottom: 1px;
 background:-moz-linear-gradient(rgba(34,85,136,0.7), rgba(34,85,136,0.9) 50%);
 background:-webkit-gradient(linear, 100% 0%, 100% 50%, from(rgba(34,85,136,0.7)), to(rgba(34,85,136,0.9)));
 text-align: center;
 text-shadow:0 -1px 0 rgba(34,85,136,0.9);
 box-shadow:  0px 1px 1px rgba(255,255,255,0.3) inset;
}

table:not(.pure):not(.no-header) tr th input {
 color: #fff;
 background: #258;
 font-weight: bold;
 background:-moz-linear-gradient(rgba(34,85,136,0.7), rgba(34,85,136,0.9) 50%);
 background:-webkit-gradient(linear, 100% 0%, 100% 50%, from(rgba(34,85,136,0.7)), to(rgba(34,85,136,0.9)));
}

@media (min-width: 992px) {
    table:not(.pure):not(.no-hover) tr:hover td {
    background: #bbd4ee;
    cursor:pointer;
  }
}

div.frozenRow {
//  position: relative;
   overflow-x:auto;
   overflow-y:hidden;
   padding: 0 0 0 0;
   margin: 0 0 0 0 ;
}

div.frozenRow table {
 table-layout: fixed;
 padding: 0 0 0 0;
 margin: 0 0 0 0 ;
}

div.frozenRow table thead {
   display: block;
}

div.frozenRow table tbody {
   display: block;
   overflow-y: scroll;
   overflow-x: hidden;
   height: 100px ;
}


div.frozenRow table td,
div.frozenRow table th {
  white-space:nowrap;
}

div.frozenColumn {
 position: relative;
 padding: 0 0 0 60px;
 margin: 0 0 1em 0;
 overflow:hidden;
}

div.meltColumn {
 overflow-x:auto;
 overflow-y:hidden;
 padding: 0 0 0 0;
 margin: 0 0 0 0 ;
 box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
 width: 100%;
}

div.frozenColumn table {
 table-layout: fixed;
 margin: 0 0 0 0;
 box-shadow: none;
}
div.frozenColumn table tr th {
 position:rerative;
}

.headcol {
  position:absolute;
  width:50px;
  left:0;
  top:auto;
  border-top-width:1px; // only relevant for first row
  margin-top:-1px; // compensate for top border
}
div.frozenColumn table tr th:first-child,
div.frozenColumn table tr td:first-child {
  position:absolute;
  width:50px;
  left:0;
  top:auto;
  border-top-width:1px; // only relevant for first row
  margin-top:-1px; // compensate for top border
}

div.frozenColumn table tr th,
div.frozenColumn table tr td {
  border-top-width:0px;
  white-space:nowrap;
}

.unconfirmed {
  color: red;
}

.btn.active
{
	background-color: rgba(0,0,0,0.2); !important;
}

.btn:hover:not(.active)
{
	background-color:  rgba(0,0,0,0.2);
}

/* css checkbox01 */
.checkbox01-input{
  display: none;
}
.checkbox01-parts{
  padding-left: 10px;
  position:relative;
  margin-right: 10px;
}
.checkbox01-parts::before{
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 2px;
  width: 18px;
  height: 18px;
  border: 1px solid #999;
  border-radius: 4px;
}
.checkbox01-input:checked + .checkbox01-parts{
  color: #009a9a;
}
.checkbox01-input:checked + .checkbox01-parts::after{
  content: "";
  display: block;
  position: absolute;
  top:  0px;
  left: 6px;
  width: 10px;
  height: 14px;
  transform: rotate(40deg);
  border-bottom: 3px solid black;
  border-right: 3px solid black;
}
.checkbox01-input:checked:not(.confirmed) + .checkbox01-parts::after{
  border-bottom: 3px solid red;
  border-right: 3px solid red;
}

input:disabled {
  color: #222;
}

p.hidden,
p.invisible,
a.hidden,
a.invisible,
div.hidden,
div.invisible
{
  letter-spacing: -1em;
}

input[type="text"].not[disabled] {
   color: blue;
}

input[type="text"][disabled] {
   color: black;
}
